<div>
  <h2 id="page-heading" data-cy="CustomerOrderHeading">
    <span jhiTranslate="northwindApp.customerOrder.home.title">Customer Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="northwindApp.customerOrder.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer-order"
        [routerLink]="['/customer-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="northwindApp.customerOrder.home.createLabel"> Create a new Customer Order </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="customerOrders?.length === 0">
    <span jhiTranslate="northwindApp.customerOrder.home.notFound">No customerOrders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="customerOrders && customerOrders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="orderDate">
            <span jhiTranslate="northwindApp.customerOrder.orderDate">Order Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shippedDate">
            <span jhiTranslate="northwindApp.customerOrder.shippedDate">Shipped Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shipAddress">
            <span jhiTranslate="northwindApp.customerOrder.shipAddress">Ship Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="shippingFee">
            <span jhiTranslate="northwindApp.customerOrder.shippingFee">Shipping Fee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="taxes">
            <span jhiTranslate="northwindApp.customerOrder.taxes">Taxes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentMethod">
            <span jhiTranslate="northwindApp.customerOrder.paymentMethod">Payment Method</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paidDate">
            <span jhiTranslate="northwindApp.customerOrder.paidDate">Paid Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="northwindApp.customerOrder.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notes">
            <span jhiTranslate="northwindApp.customerOrder.notes">Notes</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="inventoryTransaction.id">
            <span jhiTranslate="northwindApp.customerOrder.inventoryTransaction">Inventory Transaction</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let customerOrder of customerOrders; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/customer-order', customerOrder.id, 'view']">{{ customerOrder.id }}</a>
          </td>
          <td>{{ customerOrder.orderDate | formatMediumDatetime }}</td>
          <td>{{ customerOrder.shippedDate | formatMediumDatetime }}</td>
          <td>{{ customerOrder.shipAddress }}</td>
          <td>{{ customerOrder.shippingFee }}</td>
          <td>{{ customerOrder.taxes }}</td>
          <td>{{ customerOrder.paymentMethod }}</td>
          <td>{{ customerOrder.paidDate | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'northwindApp.OrderStatus.' + customerOrder.status }}">{{ customerOrder.status }}</td>
          <td>{{ customerOrder.notes }}</td>
          <td>
            <div *ngIf="customerOrder.inventoryTransaction">
              <a [routerLink]="['/inventory-transaction', customerOrder.inventoryTransaction?.id, 'view']">{{
                customerOrder.inventoryTransaction?.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/customer-order', customerOrder.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/customer-order', customerOrder.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(customerOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
