<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-purchase-order-item-heading"
        data-cy="PurchaseOrderItemCreateUpdateHeading"
        jhiTranslate="northwindApp.purchaseOrderItem.home.createOrEditLabel"
      >
        Create or edit a Purchase Order Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="northwindApp.purchaseOrderItem.quantity" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="northwindApp.purchaseOrderItem.unitCost" for="field_unitCost">Unit Cost</label>
          <input type="number" class="form-control" name="unitCost" id="field_unitCost" data-cy="unitCost" formControlName="unitCost" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="northwindApp.purchaseOrderItem.receivedDate" for="field_receivedDate"
            >Received Date</label
          >
          <div class="d-flex">
            <input
              id="field_receivedDate"
              data-cy="receivedDate"
              type="datetime-local"
              class="form-control"
              name="receivedDate"
              formControlName="receivedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="northwindApp.purchaseOrderItem.inventoryPosted" for="field_inventoryPosted"
            >Inventory Posted</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="inventoryPosted"
            id="field_inventoryPosted"
            data-cy="inventoryPosted"
            formControlName="inventoryPosted"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="northwindApp.purchaseOrderItem.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option *ngIf="editForm.get(['product'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsCollection; trackBy: trackProductById"
            >
              {{ productOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['product'])!.invalid && (editForm.get(['product'])!.dirty || editForm.get(['product'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['product'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="northwindApp.purchaseOrderItem.purchaseOrder" for="field_purchaseOrder"
            >Purchase Order</label
          >
          <select
            class="form-control"
            id="field_purchaseOrder"
            data-cy="purchaseOrder"
            name="purchaseOrder"
            formControlName="purchaseOrder"
          >
            <option *ngIf="!editForm.get('purchaseOrder')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                purchaseOrderOption.id === editForm.get('purchaseOrder')!.value?.id
                  ? editForm.get('purchaseOrder')!.value
                  : purchaseOrderOption
              "
              *ngFor="let purchaseOrderOption of purchaseOrdersSharedCollection; trackBy: trackPurchaseOrderById"
            >
              {{ purchaseOrderOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['purchaseOrder'])!.invalid && (editForm.get(['purchaseOrder'])!.dirty || editForm.get(['purchaseOrder'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['purchaseOrder'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
